<h1>Add a new photo</h1>
<form action="/create_photo">
  <div>
    <label for="source_input">
      Image URL
    </label>
    <input type="text" id="source_input" name="the_image_url">
  </div>
  <div>
    <label for="caption_input">
      Caption
    </label>
    <input type="text" id="caption_input" name="the_caption">
  </div>

  <button> Create Photo</button>

</form>
